body {
    margin: 0;
    background: url(../images/weather.jpg) no-repeat;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}
#wrapper {
        max-width: 400px;
        margin: auto;
        margin-top: 100px;
        background-color: #35353f;
        opacity: 0.7;
        padding: 10px;
        color: #dddddd;
        .table {
            border-collapse: separate;
            border: 2px solid #bdbec2;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -khtml-border-radius: 5px;
            .percent {
                text-align: right;
            }
        }
        .btn {
            color: #28b2e0;
            border: 2px solid #28b2e0;
            background-color: #35353f;
            &:hover {
                background-color: #988f8f;
            }
        }
}