body {
    margin: 0;
    background: url(../images/weather.jpg) no-repeat;
    background-size: cover;
    #wrapper {
        max-width: 960px;
        margin: auto;
        p, #search_form {
            text-align: center;
            vertical-align: middle;
        }
        
        
    }
}